@using Blazored.LocalStorage
@inherits LayoutComponentBase
@inject CustomAuthStateProvider AuthStateProvider
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject NotificationService NotificationService
@inject ILogger<MainLayout> Logger
@implements IAsyncDisposable

<MudThemeProvider @ref="_themeProvider" Theme="_theme" IsDarkMode="_isDarkMode"/>
<MudPopoverProvider/>
<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.Medium" CloseButton="true" BackdropClick="false"
                   Position="DialogPosition.Center" CloseOnEscapeKey="true"/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Color="Color.Primary" Elevation="12">
        <MudButton Href="/" Variant="Variant.Text"
                   Class="ml-2" Color="Color.Inherit">
            <MudText Typo="Typo.h5">PaymentGateway</MudText>
        </MudButton>
        <MudSpacer/>
        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle"/>
        <AuthorizeView>
            <Authorized>
                <MudMenu AnchorOrigin="Origin.BottomCenter">
                    <ActivatorContent>
                        <MudChip T="string" Icon="@Icons.Material.Filled.Person"
                                 Color="Color.Primary">@context.User.Identity?.Name</MudChip>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem OnClick="@(NavigateToSettings)" Icon="@Icons.Material.Filled.Settings"
                                     Label="Настройки"/>
                        <MudDivider/>
                        <MudMenuItem OnClick="@(Logout)" Icon="@Icons.Material.Filled.ExitToApp" Label="Выход"/>
                    </ChildContent>
                </MudMenu>
            </Authorized>
            <NotAuthorized>
                <MudButton Variant="Variant.Text"
                           Href="/login"
                           Class="ml-2"
                           Color="Color.Inherit">
                    Вход
                </MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <AuthorizeView>
        <Authorized>
            <MudDrawer Variant="DrawerVariant.Persistent"
                       Elevation="12"
                       ClipMode="DrawerClipMode.Always"
                       Open="true">
                <MudNavMenu Class="mt-4">
                    <AuthorizeView Context="adminContext" Roles="Admin">
                        <MudNavLink Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.People" Href="users">
                            Пользователи
                        </MudNavLink>
                    </AuthorizeView>
                    <AuthorizeView Context="anyContext" Roles="User,Admin,Support">
                        <MudNavLink Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.RequestPage"
                                    Href="requisites">Реквизиты
                        </MudNavLink>
                    </AuthorizeView>
                    <AuthorizeView Context="anyContext" Roles="User,Admin,Support">
                        <MudNavLink Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.CreditCard"
                                    Href="payments">Платежи
                        </MudNavLink>
                    </AuthorizeView>
                    <AuthorizeView Context="anyContext" Roles="User,Admin,Support">
                        <MudNavLink Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AssignmentTurnedIn"
                                    Href="transactions">Транзакции
                        </MudNavLink>
                    </AuthorizeView>
                    <AuthorizeView Context="adminContext" Roles="Admin,Support">
                        <MudNavLink Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Chat" Href="chat">Чат
                        </MudNavLink>
                    </AuthorizeView>
                </MudNavMenu>
            </MudDrawer>
        </Authorized>
    </AuthorizeView>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="mt-8">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {

    private bool _isDarkMode = true;
    private MudThemeProvider _themeProvider = null!;
    private MudTheme? _theme;
    private const string ThemeKey = "preferred-theme";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _themeProvider.GetSystemPreference();
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _theme = new MudTheme
        {
            PaletteLight = _lightPalette,
            PaletteDark = _darkPalette,
            LayoutProperties = new LayoutProperties()
        };

        if (await LocalStorage.ContainKeyAsync(ThemeKey))
        {
            _isDarkMode = await LocalStorage.GetItemAsync<bool>(ThemeKey);
        }

        await InitializeSignalR();
    }

    private async Task InitializeSignalR()
    {
        try
        {
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();

            if (authState.User.Identity?.IsAuthenticated == true)
            {
                Logger.LogInformation("Инициализация SignalR в MainLayout");

                try
                {
                    await NotificationService.InitializeAsync();

                    Logger.LogInformation("SignalR соединение инициализировано в MainLayout");
                }
                catch (Exception ex)
                {
                    Logger.LogError(ex, "Ошибка при подключении SignalR");
                }
            }
            else
            {
                Logger.LogInformation("Пользователь не авторизован, SignalR не инициализирован");
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Ошибка при инициализации SignalR соединения в MainLayout");
        }
    }

    private async Task DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
        await LocalStorage.SetItemAsync(ThemeKey, _isDarkMode);
    }

    private const string Primary = "#663882";
    private const string Secondary = "#306d65";
    private const string Info = "#2374AB";
    private const string Success = "#169873";
    private const string Warning = "#df9c54";
    private const string Error = "#B9314F";

    private readonly PaletteLight _lightPalette = new()
    {
        Primary = Primary,
        Secondary = Secondary,
        Black = "#110e2d",
        AppbarText = "#424242",
        AppbarBackground = "rgba(255,255,255,0.8)",
        DrawerBackground = "#ffffff",
        GrayLight = "#e8e8e8",
        GrayLighter = "#f9f9f9",
        TextPrimary = "#110e2d",
        TextSecondary = "#424242",
        Info = Info,
        Success = Success,
        Warning = Warning,
        Error = Error,
    };

    private readonly PaletteDark _darkPalette = new()
    {
        Primary = Primary,
        Secondary = Secondary,
        Surface = "#1e1e2d",
        Background = "#1a1a27",
        BackgroundGray = "#151521",
        AppbarText = "#92929f",
        AppbarBackground = "rgba(26,26,39,0.8)",
        DrawerBackground = "#1a1a27",
        ActionDefault = "#74718e",
        ActionDisabled = "#9999994d",
        ActionDisabledBackground = "#605f6d4d",
        TextPrimary = "#b2b0bf",
        TextSecondary = "#92929f",
        TextDisabled = "#ffffff33",
        DrawerIcon = "#92929f",
        DrawerText = "#92929f",
        GrayLight = "#2a2833",
        GrayLighter = "#1e1e2d",
        Info = Info,
        Success = Success,
        Warning = Warning,
        Error = Error,
        LinesDefault = "#33323e",
        TableLines = "#33323e",
        Divider = "#292838",
        OverlayLight = "#1e1e2d80",
    };

    private string DarkLightModeButtonIcon => _isDarkMode switch
    {
        true => Icons.Material.Rounded.LightMode,
        false => Icons.Material.Outlined.DarkMode,
    };

    private void NavigateToSettings()
    {
        Navigation.NavigateTo("/settings");
    }

    private async Task Logout()
    {
        await AuthStateProvider.MarkUserAsLoggedOut();
        Navigation.NavigateTo("/login", true);
    }

    public async ValueTask DisposeAsync()
    {
        try
        {
            if (NotificationService != null)
            {
                await NotificationService.DisposeAsync();
            }

            Logger.LogInformation("Отписки от событий SignalR в MainLayout выполнены успешно");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Ошибка при отписке от событий SignalR в MainLayout");
        }
    }

}
