@using Blazorise.Components
<Blazorise.ThemeProvider Theme="@_theme">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @if (context.User.Identity is { IsAuthenticated: false })
                        {
                            <RedirectToLogin/>
                        }
                        else
                        {
                            <p>У вас нет доступа к этой странице.</p>
                        }
                    </NotAuthorized>
                    <Authorizing>
                        <p>Проверка авторизации...</p>
                    </Authorizing>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <p>Извините, по этому адресу ничего не найдено.</p>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>


    <MessageProvider/>
    <PageProgressProvider/>
    <NotificationProvider />
</Blazorise.ThemeProvider>

@code {

    private readonly Theme _theme = new()
    {
        IsRounded = true,
        BarOptions = new ThemeBarOptions
        {
            HorizontalHeight = "72px"
        },
        ColorOptions = new ThemeColorOptions
        {
            Primary = "#624b82",
            Secondary = "#e3b178",
            Success = "#86BA90",
            Info = "#A594F9",
            Warning = "#F28123",
            Danger = "#B9314F",
            Light = "#F0F0F0",
            Dark = "#535353",
        },
        BackgroundOptions = new ThemeBackgroundOptions
        {
            Primary = "#624b82",
            Secondary = "#e3b178",
            Success = "#86BA90",
            Info = "#A594F9",
            Warning = "#F28123",
            Danger = "#B9314F",
            Light = "#F0F0F0",
            Dark = "#535353",
        },
        InputOptions = new ThemeInputOptions
        {
            CheckColor = "#624b82",
        }
    };
}