@page "/Settings"
@using System.Net
@using Blazorise.FluentValidation
@using PaymentGateway.Shared.DTOs.User
@attribute [Authorize]
@inject IUserService UserService
@inject INotificationService NotificationService

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">

                    <Validations @ref="_validations" Mode="ValidationMode.Auto" Model="@_changePasswordDto"
                                 ValidateOnLoad="false" HandlerType="typeof(FluentValidationHandler)">
                        <Validation>
                            <Field>
                                <TextEdit type="password" @bind-Text="@_changePasswordDto.CurrentPassword"
                                          Placeholder="Текущий пароль">
                                    <Feedback>
                                        <ValidationError/>
                                    </Feedback>
                                </TextEdit>
                            </Field>
                            <Validation>
                                <Field>
                                    <TextEdit type="password" @bind-Text="@_changePasswordDto.NewPassword" Placeholder="Пароль">
                                        <Feedback>
                                            <ValidationError/>
                                        </Feedback>
                                    </TextEdit>
                                </Field>
                            </Validation>
                            <Validation>
                                <Field>
                                    <TextEdit type="password" @bind-Text="@_changePasswordDto.ConfirmPassword" Placeholder="Подтверждение пароля">
                                        <Feedback>
                                            <ValidationError/>
                                        </Feedback>
                                    </TextEdit>
                                </Field>
                            </Validation>
                        </Validation>

                        @if (!string.IsNullOrEmpty(_errorMessage))
                        {
                            <Alert Color="Color.Danger" Visible>
                                @_errorMessage
                            </Alert>
                        }

                        <Button Color="Color.Primary" Clicked="@ChangePassword" Block>Изменить пароль</Button>
                        
                    </Validations>

                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private ChangePasswordDto _changePasswordDto = new();
    private Validations? _validations;
    private string? _errorMessage;

    private async Task ChangePassword()
    {
        _errorMessage = null;

        if (_validations != null)
        {
            if (await _validations.ValidateAll())
            {
                var response = await UserService.ChangePasswordAsync(_changePasswordDto);
                if (response.Code == HttpStatusCode.OK)
                {
                    _changePasswordDto = new ChangePasswordDto();
                    await NotificationService.Success("Пароль успешно изменен");
                    await _validations.ClearAll();
                }
                else
                {
                    await NotificationService.Error(response.Content);
                }
            }
        }
    }
}